[submodule "src/EcatV2_Master"]
	path = src/EcatV2_Master
	url = git@github.com:AIMEtherCAT/EcatV2_Master.git
[submodule "src/suction_control"]
	path = src/suction_control
	url = git@github.com:unnc-aim/suction_control.git
[submodule "src/universal_controllers_v2"]
	path = src/universal_controllers_v2
	url = git@github.com:AIM-EC/universal_controllers_v2.git
[submodule "src/arm_controller"]
	path = src/arm_controller
	url = git@github.com:unnc-aim/26RC_R1_arm_controller.git
[submodule "src/r1_controller"]
	path = src/r1_controller
	url = git@github.com:unnc-aim/26RC_R1_controller.git
[submodule "src/aruco_publisher"]
	path = src/aruco_publisher
	url = git@github.com:unnc-aim/26RC_R1_aruco_publisher
